.text {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 55px;
  font-family: "Asap", sans-serif;
  font-weight: 600;
  color: #242424;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 0 0 3px #222020;
  z-index: 100;
}
